nav{
    overflow:hidden;
    background: #003171;
    margin-bottom: 20px;
}

nav li{
    float: left;
    list-style-type: none;
    text-decoration: none;
    border: none;
    color: #26A65B;
    border-radius: 0;
    padding: 8px;
    transition: 0,5s;
}

{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 10px;
}
.container{
    width: 680px;
    margin: auto;
    
    
}


h2{
    color: #48929B;
}
p{
    color: #48929B;
}


h3{
    color: #48929B;
        
}

h1{
    color: #003171;
}

{
    background: #003171;
}
